.sign-in {
	width: 380px;
	display: flex;
	flex-direction: column;
}

.sign-in span {
	margin: 10px 0 15px 0;
	color: rgb(102, 102, 102);
}

.buttons {
	display: flex;
	justify-content: space-between;
}
