.collection-preview {
	min-width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.collection-preview .preview {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.collection-preview .title {
	cursor: pointer;
}
