.custom-button {
	min-width: 165px;
	width: auto;
	height: 46px;
	letter-spacing: 1px;
	line-height: 46px;
	padding: 0 35px 0 35px;
	font-size: 14px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	border: 2px solid black;
	cursor: pointer;
	transition: 0.3s;
}

.custom-button:hover {
	font-weight: bold;
	background-color: white;
	color: black;
	border: 2px solid black;
}

.custom-button.google-sign-in {
	background-color: #4285f4;
	color: white;
	border: none;
	padding: 0 15px 0 15px;
}

.custom-button.google-sign-in:hover {
	background-color: #357ae8;
	border: none;
	font-weight: normal;
}
